@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
}

section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
